<!DOCTYPE html>
<html>
	<head>
		<title>SimpleCDN</title>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.0/milligram.css">
		<link rel="stylesheet" href="static/style.css">
	</head>
	<body class="darkwrapper">
		<div class="wrapper">
			<h1>Welcome to SimpleCDN!</h1>
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					{% for message in messages %}
						<div class="alert">
							<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
							{{ message }}
						</div>
					{% endfor %}
				{% endif %}
			{% endwith %}
			<a href="/all"><button>All Files</button></a> <a href="/profile"><button>Profile</button></a><br>
			Please upload a file below.<br><br>
			<form action="/upload" method="post" enctype="multipart/form-data">
				<input type="file" name="file">
				<input type="submit">
			</form>
		</div>
	</body>
</html>