<!DOCTYPE html>
<html>
	<head>
		<title>SimpleCDN</title>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.0/milligram.css">
		<link rel="stylesheet" href="static/style.css">
	</head>
	<body>
		<div class="wrapper">
			<h1>Welcome to SimpleCDN!</h1>
			<a href="/all">Click here to see all files on the server.</a><br>
			Please upload a file below.<br><br>
			<form action="/upload" method="post" enctype="multipart/form-data">
				<input type="file" name="file">
				<input type="submit">
			</form>
		</div>
	</body>
</html>