<!DOCTYPE html>
<html>
	<head>
		<title>Login</title>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.0/milligram.css">
		<link rel="stylesheet" href="static/style.css">
	</head>
	<body>
		<div class="wrapper">
			<h1>Login</h1>
			<form action="/login" method="post">
				<label for="email">Email</label>
				<input type="text" placeholder="someone@example.com" id="email" name="email">
				<label for="password">Password</label>
				<input type="text" id="password" name="password">
				<input type="submit" class="button" value="Login">
			</form>
		</div>
	</body>
</html>