<!DOCTYPE html>
<html>
	<head>
		<title>Profile</title>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.0/milligram.css">
		<link rel="stylesheet" href="static/style.css">
	</head>
	<body class="darkwrapper">
		<div class="wrapper">
			<h1>Welcome, {{ user.get_id() }}!</h1>
			<a href="/">Go back home</a><br><br>
			My files:
			<ul>
				{% for file in files %}
					<li><a href="/file/{{ user.get_id() }}/{{ file }}">{{ file }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</body>
</html>